<nav class="bg-gray-900/80 backdrop-blur-md border-r border-gray-700 flex flex-col justify-between min-h-screen">
    <div>
        <div class="p-6 border-b border-gray-700">
            <h1 class="text-2xl font-bold text-violet-400">InstaDev</h1>
        </div>

        <ul class="mt-6 space-y-2">
            <li>
                <a routerLink="/perfil" routerLinkActive="text-violet-400 font-semibold"
                class="block py-3 px-6 hover:bg-gray-800 transition rounded-r-full">
                👤 Perfil
                </a>
            </li>
            <li>
                <a routerLink="/publicaciones" routerLinkActive="text-violet-400 font-semibold"
                class="block py-3 px-6 hover:bg-gray-800 transition rounded-r-full">
                🏠 Publicaciones
                </a>
            </li>
            <li *appAdminOnly>
                <a routerLink="/dashboard" routerLinkActive="text-violet-400 font-semibold"
                class="block py-3 px-6 hover:bg-gray-800 transition rounded-r-full text-yellow-500">
                📊 Dashboard Admin
                </a>
            </li>
        </ul>
    </div>

    <div class="p-6 border-t border-gray-700">
        <button (click)="logout()" class="w-full py-3 bg-violet-600 hover:bg-violet-700 rounded-lg font-semibold transition">
        🚪 Cerrar sesión
        </button>
    </div>
</nav>
