@import "tailwindcss";

/* @layer components {
    .btn {
        @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
    }
} */

@layer base {
    body {
        @apply bg-gradient-to-br from-gray-900 to-gray-800 min-h-screen text-white;
    }
}